*
{
    margin:0;
    padding:0;
    transition: 0.3s;
}
html
{
    scroll-behavior: smooth;
}
body
{
    width: 100%;
    transition: 0.3s;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    scroll-behavior: smooth;
    font-size: 10px;
}
a
{
    text-decoration: none;
}
header
{
    /* background: transparent; */
    background-color: black;
    /* background-image: linear-gradient(black,#222); */
    color: white;
    width: 100%;
    height: 100px;
    font-size:10px;
}
.web_logo
{
    width:10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    float: left;
    margin-left: 20px;
}
.web_logo img
{
    width: 200px;
    height: 150px;
}

.info
{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    float: right;
}
.info-ul-1
{
    height:100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-left: auto;
}
.info-ul-1 a{
    width: auto;
    
}
.info-li{
    font-size:2.1em;
    display: flex;
    justify-content: flex-end;
    padding: 10px 20px 10px 20px;
    color: white;
    border-right-style: solid;
    border-color: rgb(255, 255, 255);
    border-width: 2px;
    text-transform: uppercase;
}
.info-li:hover{
    border-radius: 50%;
    border-color: rgb(255, 255, 255);
    border-width: 5px;
}


.imgmenu
{
    width:50px;
    margin-right: 40px;
    margin-left: 10px;
    cursor: pointer;    
}




.sidenav
{
    width: 0;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1;
    position: fixed;
    background-color: #0f0f0f;
}

.sidenvimage-div
{
    width: 40%;
    height: 100vw;
    display: inline-flex;
    transition-delay: 0.5s;
}
.sidenvimage
{
    width: 100%;
    height: 100vh;
}
.sidenavelogo{
    position: relative;
    top: -50px;
    left: -77%;
    width: 300px;
    height: 250px;
}
.sidenav-linksarea{
    width: 60%;
    height: auto;
    float: right;
}
.closenav{
    width: 0;
    font-size: 30px;
    margin-right: 5%;
    cursor: pointer;
    z-index: 1;
    position: relative;
    left: 90%;
    margin-top: 20px;
}

.closenav:hover{
    color: red;
}
.sidenav-links-1
{
    width: 50%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
    position: relative;
    top: -100px;
}
.sidenav-links-1 li{
    display: flex;
    margin-top: 50px;
    align-items: center;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidenav-links-1 i{
    color: rgba(255, 0, 0, 0.92);
    margin-right: 10px;
}
.side-nav-a
{
    color: rgba(255, 248, 248, 0.685);
    font-size: 2.5em;
    margin-left: 30%;

}
.side-nav-a:hover{
    color: red;
}
.sidenav-links-2
{
    width: 49%;
    height: auto;
    display: inline-flex;
    flex-direction: column;
   margin-top: 20px;
   position: relative;
   top: 100px;
      /* animation: nav_move2 2.5s; */
}
@keyframes nav_move2 {
    0%{top: 500px;}
    100%{top: 0px;}
    
   }
.sidenav-links-2 li{
    display: flex;
    margin-top: 50px;
    text-transform: capitalize;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.sidenav-links-2 i{
    color: rgba(255, 0, 0, 0.92);
    margin-right: 10px;
}
.sidenav-social-link{
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 20%;    
    position: relative;
    /* animation: nav_move3 3s; */
}
@keyframes nav_move3 {
    1%{left: -100%;}
    100%{left: 0px;}
   }
.sidenav-social-link span{
    text-transform: uppercase;
    color: white;
    font-size: 2em;
    letter-spacing: 5px;
    margin-left: 10%;
    padding-right: 10px;
}
.sidenav-social-link i{
    width: 3%;
    margin-left: 20px;
    cursor: pointer;
    color: white;
    font-size: 2.2em;
}



/* ===============================================FOOTER================================================ */

footer{
    background-color: black;
    height: auto;
    font-size: 10px;
    margin-top: 20px;
    width: 100%;
}
.footr-social-links{
    background-color: #353030;
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
}
.footr-social-links span{
    color: rgba(255, 255, 255, 0.913);
    text-transform: uppercase;
    font-size: 2.5em;
    margin-left: 100px;
    padding-right: 20px;
    letter-spacing: 4px;
}
.footr-social-links i{
    margin-left: 20px;
    cursor: pointer;
    
    color: white;
    font-size: 2.3em;
}
.footr-social-links a{
    color: white;
    margin-left: 50%;
    font-size: 2em;
}

/*  */
.footer-link-div{
    width: 100%;
    margin-top: 30px;
    display: flex;
    justify-content: space-around;
    text-transform: capitalize;
    padding-bottom: 50px;
}
.footer-link-div span{
    font-size: 2.5em;
    color: white;
}
.footer-link-div hr{
    margin-top: 25px;
}
.clc-world ul{
    color: white;
    list-style-type: square;
    font-size: 1.5em;
}
.clc-world span{
    font-size: 2em;
}
.clc-world li{
    margin-top: 20px;
    margin-left: 15px;
}
.clc-world li a{
    color: rgba(255, 255, 255, 0.534);
}
.clc-world li a:hover{
    color: rgba(255, 255, 255, 0.82);
}

/* .brands{
    display: flex;
    justify-content: space-evenly;
    width: 30%;
} */
.brande-1 span{
    font-size: 2em;
}
.b_hr{
    width: 25%;
}
.brande-1 ul{
    color: white;
    list-style-type: square;
    font-size: 1.5em;
    height: 300px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 20px;
    gap: 20px;
}
.brande-1 li{
    margin-left: 20px;
}
.brande-1 li a{
    color: rgba(255, 255, 255, 0.534);
}
.brande-1 li a:hover{
    color: rgba(255, 255, 255, 0.82);
}
.brande-2
{
    display: inline-flex;
    margin-top: 14%;
}
.brande-2 ul{
    color: white;
    list-style-type: square;
    font-size: 1.5em;
}
.brande-2 span{
    font-size: 2em;
}
.brande-2 li{
    margin-top: 20px;
    margin-left: 15px;
}
.brande-2 li a{
    color: rgba(255, 255, 255, 0.534);
}
.brande-2 li a:hover{
    color: rgba(255, 255, 255, 0.82);
}

.brande-3{
    display: inline-flex;
    margin-top: 14%;
}
.brande-3 ul{
    color: white;
    list-style-type: square;
    font-size: 1.5em;
}
.brande-3 span{
    font-size: 2em;
}
.brande-3 li{
    margin-top: 20px;
    margin-left: 15px;
}
.brande-3 li a{
    color: #ffffff88;
}
.brande-3 li a:hover{
    color: rgba(255, 255, 255, 0.82);
}

.footer-hr{
    width: 90%;
    margin-left: 5%;
    border-radius: 50%;
}
.footer-div-3{
    width: 90%;
    height: auto;
    color: #ffffff88;
    padding-bottom: 40px;
    margin-left: 5%;
}
.footer-div-3_div-1{
    width: 24%;
    height: 100px;
    display: inline-block;
    flex-wrap: wrap;
    margin-top: 20px;
}
.footre-div-3-head-div{
    width: 100%;
}
.footre-div-3-head{
    color: white;
    margin-top: 20px;
    font-size: 1.7em;
    width: 150px;
}
.footer-div-3_conte{
    font-size: 1.5em;
    width: 100%;
    margin-top: 20px;
}
.footer-div-3_div-2{
    margin-top: 20px;
    display: inline-flex;
    width: 40%;
}
.footer-deal{
    margin-left: 50px;
}

.footer_last_div{
    width: 90%;
    margin-left: 5%;
    height: auto;
    color: #ffffffe0;
    display: flex;
    align-items: center;
    font-size: 1.4em;
    padding: 20px 0 20px 0;
}
.footer_last_div-span_1{
    padding-right: 20px;
}
.footer_last_div-span_2{
    padding-right: 20px;
    border-left: 1px rgba(255, 255, 255, 0.509) solid;
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
}
.footer_last_div-span_2 a{
    
    color: #ffffff66;
}
.footer_last_div-span_2 a:hover{
    color: white;
}


    ::-webkit-scrollbar {
        display: none;
  }






  /* ================================================= CONTAINT ========================================= */
.continer{
    width: 100%;
    height: auto;
    margin-top: 40px;
}
.con{
    width: 100%;
    display: flex;
    justify-content: center;
    height: auto;
}
.con_2{
    width: 90%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
    gap: 55px;
}

.Con_2_data_div{
    width: 29%;
    height: 440px;
    margin-right: 20px;
    background-color: rgb(248, 245, 245);
    padding-bottom: 30px;
    border-radius: 15px;
    margin-top: 40px;
}
.image_div{
    width: 100%;
    height: auto;
    display: inline-flex;
    justify-content: space-evenly;
}
.image_div img{
    width: 100%;
    height: 248px;
    /* height: 245px; */
    border-radius: 15px;
}
.detail{
    width: 100%;
}
.detail h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    margin-top: 15px;
    margin-left: 10px;
}
.detail h3{
    text-transform: capitalize;
    font-size: 2em;
    margin-top: 10px;
    
    margin-left: 10px;
}
.detail p{
    width: 100%;
    display: flex;
    align-items: center;
    margin-top: 20px;
    margin-left: 10px;
}
.detail span{
    border-left: 1px black solid;
    font-size: 1.8em;
    float: left;
    padding-right: 10px;
    padding-left: 5px;
    text-transform: capitalize;
}
.mora_data{
    width: 100%;
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.mora_data button
{
    width: 100%;
    height: 50px;
    font-size: 2em;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
}
.mora_data button:hover{
    background-color: #171717;
}

.button{
    width: 90%;
    border-radius: 10px;
}

.pagination {
    list-style: none;
    padding-left: 0;
    text-align: center;
    margin-top: 40px;
    padding-bottom: 20px;
}

.pagination li {
    display: inline-block;
}

.pagination li+li {
    margin-left: 1rem;    
}

.pagination a {
    text-decoration: none;
    padding: 10px 15px 10px 15px;
    color: rgb(255, 255, 255);
    border: 1px solid rgb(0, 0, 0);
    border-radius: 10px;
    font-size: 1.5em;
    background-color: #222;
}





/* ================================================================================================== */
/* ================================================================================================== */
/* ================================================================================================== */
/* ================================================================================================== */
/* ================================================================================================== */
/* ================================================================================================== */
/* ================================================================================================== */

@media (min-width: 1275px) and (max-width :1528px){
    .sidenavelogo{
        
    top: -10px;
    left: -67%;
    width: 200px;
    height: 150px;
    }
}

@media (min-width: 872px) and (max-width :1275px){
    .sidenavelogo{
        
    top: -10px;
    left: -77%;
    width: 200px;
    height: 150px;
    }
}
@media (min-width: 200px) and (max-width :872px){
    .sidenvimage-div{
        display: none;
    }
    .sidenav-linksarea{
        width: 100%;
    }
    .sidenav-links-1{
        width: 49%;
    }
    .sidenav-links-2{
        width: 49%;
    }
}

@media (min-width: 1056px) and (max-width :1452px){
   
    .Con_2_data_div{
        width: 45%;
        height: 550px;
    }
    .image_div img{
        height: 320px;
    }
}



@media (min-width: 600px) and (max-width :1056px){
    .Con_2_data_div{
        width: 100%;
        height: 700px;
    }
    .image_div img{
        height: 520px;
    }
}
@media (min-width: 200px) and (max-width :600px){
    .con_2{
        display: flex;
        justify-content: center;
        margin: 0;
    }
    .Con_2_data_div{
        width: 80%;
        height: auto;
    }
    .image_div img{
        height: 220px;
    }
    .detail{
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        font-size: 0.8em;
    }
}

@media (min-width: 611px) and (max-width :776px){
    .info{
        width: 85%;
    }
    .info-ul-1 li{
        font-size: 1.5em;
    }
    .imgmenu{
        width: 8%;
    }
}
@media (min-width: 300px) and (max-width :611px){
    header{
        height: 80px;
    }
    .web_logo img{
        width: 150px;
        height: 80%;
    }
    .info{
        width: 85%;
    }
}
@media (min-width: 526px) and (max-width :611px){
    
    .info-ul-1 li{
        font-size: 1.5em;
        padding: 12px;
    }
    .imgmenu{
        width: 8%;
    }
}

@media (min-width: 60px) and (max-width :526px){
    .info-ul-1 li{
        font-size: 1.2em;
        padding: 12px;
    }
    .imgmenu{
        width: 6%;
    }

    .sidenav-links-1 li a{
        font-size: 1.5em;
    }
    .sidenav-links-2 li a{
        font-size: 1.5em;
    }
}

@media (min-width: 415px) and (max-width :460px){
    .info-ul-1 li{
        font-size: 1.2em;
        padding: 8px;
        border: none;
    }
    .imgmenu{
        width: 6%;
    }
}

@media (min-width: 400px) and (max-width :415px){
    .info-ul-1{
        display: none;
    }
    .info-ul-1 li{
        display: none;
    }
    .imgmenu{
        display: inline-flex;
        width: 10%;
        margin-left: 80%;
    }
}
@media (min-width: 300px) and (max-width :400px){
    .web_logo{
        width: 0;
    }
    .web_logo img{
        margin-left: 20px;
        padding-left: 20px;
    }
    .info-ul-1{
        display: none;
    }
    .info-ul-1 li{
        display: none;
    }
    .imgmenu{
        width: 10%;
        margin-left: 80%;
    }
}
@media (min-width: 200px) and (max-width :300px){
    .web_logo{
        display: inline-flex;
        width: 0;
    }
    .web_logo img{
        width: 100px;
        height: 100px;
        margin-left: 50px;
    }
    .imgmenu{
        width: 20%;
        margin-left: 70%;
    }
    .info-ul-1{
        display: none;
    }
    .info-ul-1 li{
        display: none;
    }
}

/*  */
/*  */
/*  */
/*  */
/* ====================== Footer ============= */


@media (min-width: 968px) and (max-width :1251px){
   .footre-div-3-head{
    font-size: 1.5em;
   }
   .footer-div-3_conte{
    font-size: 1.2em;
   }
}
@media (min-width: 500px) and (max-width :968px){
    .footr-social-links{
        height: 50px;
    }
    .footr-social-links span{
        font-size: 1.5em;
    }
    .footr-social-links i{
        font-size: 1.5em;
    }
    .footr-social-links a{
        font-size: 1.2em;
    }

    .clc-world ul{
        font-size: 1.3em;
    }
    .brande-1 ul{
        font-size: 1.3em;
    }

    
    .footre-div-3-head{
        font-size: 1.5em;
    }
    .footer-div-3_conte{
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
        width: 150px;
    }

    .footer-div-3_div-2{
        margin-top: 30px;
    }
    .footer_last_div{
        padding: 10px 0 10px 0;
    }
    .footer_last_div span{
        font-size: 0.8em;
    }
}

@media (min-width: 548px) and (max-width :757px){

    .footr-social-links{
        height: 50px;
    }
    .footr-social-links span{
        font-size: 1.5em;
        margin: 0 0 0 50px;
    }
    .footr-social-links i{
        font-size: 1.5em;
    }
    .footr-social-links a{
        font-size: 1.2em;
        margin: 0 0 0 40%;
    }

    .footer-link-div{
        padding: 0 0 10px 0;
    }

    .clc-world ul{
        font-size: 1.2em;
    }
    .clc-world li{
        margin-top: 15px;
    }
    .brande-1 ul{
        font-size: 1.2em;
        gap: 15px;
    }

    
    .footre-div-3-head{
        font-size: 1.5em;
    }
    .footer-div-3_conte{
        font-size: 1.2em;
        display: flex;
        justify-content: flex-start;
    }

    .footer-div-3{
        padding: 0 0 20px 0;
        margin-top: -20px;
    }
    .footre-div-3-head{
        font-size: 1.2em;
    }
    .footer-div-3_conte{
        font-size: 0.8em;
        display: flex;
        justify-content: flex-start;
        width: 100px;
    }
    .footer-div-3_div-2{
        margin: 0;
    }
}

@media (min-width: 200px) and (max-width :548px){
    .footer-div-3{
        display: none;
    }
    .hr3{
        display: none;
    }

    .footr-social-links{
        height: 30px;
    }
    .footr-social-links span{
        margin: 0 0 0 20px;
        font-size: 1em;
    }
    .footr-social-links i{
        font-size: 1em;
        margin: 0 0 0 10px;
    }
    .footr-social-links a{
        font-size: 1.2em;
        margin: 0 0 0 30%;
    }

    .clc-world ul{
        font-size: 0.8em;
    }
    .clc-world li{
        margin-top: 15px;
    }

    .brands{
        margin: 0 0 0 -20px;
    }
    .brande-1 ul{
        font-size: 0.8em;
        height: 220px;
        gap: 10px;
    }
    .brande-1 li{
        margin: 0 0 0 10px;
    }

    .footer_last_div span{
        font-size: 0.5em;
    }
}